{% extends "base.html" %}

{% block head_title %}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Your account</h1>
        <form method="post" class="form-inline">
            <table class="table table-striped">
                {% csrf_token %}
                <tr>
                    <td>
                        <label>Address 1</label>
                    </td>
                    <td>
                        <input type='text' class='form-control' value="{{ request.user.customer.address1|default_if_none:'' }}" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Address 2</label>
                    </td>
                    <td>
                        <input type='text' class='form-control'  value="{{ request.user.customer.address2|default_if_none:'' }}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Address 3</label>
                    </td>
                    <td>
                        <input type='text' class='form-control'  value="{{ request.user.customer.address3|default_if_none:'' }}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Zip Code</label>
                    </td>
                    <td>
                        <input type='text' class='form-control'  value="{{ request.user.customer.zip_code|default_if_none:'' }}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>State</label>
                    </td>
                    <td>
                        <input type='text' class='form-control'  value="{{ request.user.customer.state|default_if_none:'' }}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Country</label>
                    </td>
                    <td>
                        <input type='text' class='form-control'  value="{{ request.user.customer.country|default_if_none:'' }}" />
                    </td>
                </tr>
            </table>

            <button type="submit" class="btn btn-success" >Save</button>
        </form>
    </div>
{% endblock %}