{% extends "base.html" %}

{% block head_title %}Cart | {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% if object.cartitem_set.count < 1 %}
                <div class='text-center'>
                    <h1>Your cart is empty</h1>
                </div>
                {% else %}
                <h1>Your cart</h1>
                <table class="table table-responsive">
                    {% for item in object.cartitem_set.all %}
                    <tr id='item-{{ item.item.id }}'>
                        <td>{{ item.item.get_title }}</td>
                        <td>
                            <form action="." method="POST" >
                                {% csrf_token %}
                                <input type='hidden' name='item' value='{{ item.item.id }}' />
                                <input type='number' class='item-qty' name='qty' value='{{ item.quantity }}' />
                                <input type='submit' class='btn-update btn btn-link' value='Update item'/>
                            </form>
                        </td>
                        <td id='item-line-total-{{ item.item.id }}'>{{ item.line_item_total }}</td>
                        <td class='text-right' ><a href='{{ item.remove }}'>X</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                       <td colspan='4' class='text-right'>Total: <span id='carttotal'>{{ object.total }}</span></td>
                    </tr>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
