{% extends "base.html" %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to our shop</h1>
            <p class="lead text-muted">Something short and leading about the collection below — its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.<br>Perhaps even something about special deals?</p>
            <p>
                <a href="/shop" class="btn btn-primary">Go shopping</a>
                <a href="/account" class="btn btn-secondary">Go to your account</a>
            </p>
        </div>
    </section>

    <div class="album text-muted">
        <div class="container">
            <div class="row">
                <form action="{% url 'cart' %}" method="post">
                {% csrf_token %}
                {% for product in product_list %}
                    <div class="card">
                        <input type="hidden" name="item" value="{{ product.id }}" />
                        <input type="hidden" name="qty" value="1" />
                        <img data-src="holder.js/100px280/thumb" alt="Card image cap">
                        <p class="card-text">{{product.name}}</p>
                        <p class="card-text">$ {{product.price}}</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-success">Add to cart</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-secondary">Read more</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </form>
            </div>

        </div>
    </div>
{% endblock %}
